@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font1: "Poppins", sans-serif;
  --font2: "Montserrat", sans-serif;
  --font3: "Inter", sans-serif;

  --color1: rgb(180, 180, 180);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: var(--font1);
  box-sizing: border-box;
}

p::selection,
h1::selection,
h2::selection,
h3::selection, 
li::selection,
a::selection,
span::selection{
    background: black;
    color: white;
}

body{
    height: 100vh;
    background-color: rgb(251, 251, 251);
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#center-box p{
    font-size: 18px;
}

.return-link{
    background-color: white;
    display: flex;
    padding: 6px 15px;
    border: 3px solid black;
    box-shadow: 2px 2px black;
    transition: 0.6s ease;
}

.arrow-right{
    background-image: url(../images/icons/arrow.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
}

.return-link:hover{
    filter: invert(1);
    box-shadow: 2px 2px black
}